.castomisation-page-main {
    margin-top: 25vh;
    min-height: 75vh;
    margin-right: 10vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 510px) {
    .castomisation-page-main {
        flex-direction: column;
        justify-content: center;
        gap: 5vh;
    }    
}