:root {
    --text-color: #8c8c8c;
    --text-color-alpha: #8c8c8ceb;

    --background-color: #1b1a1a;
    --background-color-alpha: #1b1a1aeb;

    --accent-text-color: #780a08;
    --accent-text-color-alpha: #780a08eb;

    --border-color: #af312d;
    --border-color-alpha: #af312deb;

    --reserve-color: #87948b;
    --reserve-color-alpha: #0b0a0aeb;
}

*{
    padding: 0px;
    margin: 0px;
    /*border: 1px solid #ffffff;*/
}

body {
    /*background-color: var(--text-color);*/
    background-image: url(../img/background.jfif);
    background-position: top center;
    background-size: auto 100vh;
    background-attachment: fixed;
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
}

.header-and-nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

header {
    position: fixed;
    top: 0vh;
    left: 5vw;
    overflow: hidden;
    width: 90vw;
    height: 15vh;
    background-color: var(--background-color-alpha);
    /*position: fixed;
    top: 0px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--text-color);
    border-top: 0px;
}

.main-image {
    height: 100%;
}

.main-title {
    color: var(--accent-text-color);
    text-transform: uppercase;
    font-size: calc( (100vw - 480px)/(1280 - 480) * (48 - 36) + 36px);
}

.text {
    color: var(--text-color);
    font-size: 18px;
    font-size: calc( (100vw - 480px)/(1280 - 480) * (24 - 18) + 18px);
    font-family: Times, Times New Roman, serif;
}

.accent-text {
    color: var(--accent-text-color);
    font-size: 24px;
    font-size: calc( (100vw - 480px)/(1280 - 480) * (30 - 24) + 24px);
    font-family: Times, Times New Roman, serif;
    font-weight: bold;
}

nav {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--background-color);
    height: 100%;
    width: 20vw;
}

.main {
    margin-top: 15vh;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #ffffff;*/
}

.main-banner {
    display: flex;
    width: 80%;
    height: 800;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--background-color-alpha);
    border: 1px solid var(--text-color);
    /*min-height: 320px;
    height: 80%;
    margin: 5% 10% 0;*/
}

.playbutton {
    display: block;
    margin: 0 auto 5%;
    padding: 0 1%;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    color: var(--background-color);
    background-color: var(--accent-text-color);
    border: 3px solid;
    
}

.playbutton:hover{
    background-color: var(--border-color); 
}

footer {
    margin: 0 5vw;
    /* border: 1px solid var(--text-color); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    height: 10vh;
    
    background-color: var(--background-color-alpha);
    border: 1px solid var(--text-color);
    border-bottom: 0px;
}

.hyperlink {
    color: var(--accent-text-color);
}

.hyperlink:hover {
    color: var(--border-color);
}

.title {
    text-align: center;
    margin: 5% 0;
}

.description {
    text-align: center;
    margin: 0 0 5%;
}

.hero-section {
    display: flex;
    flex-direction: column;
}

.hero-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: flex-end;*/
    width: 80vw;
    background-color: var(--background-color-alpha);
    border: 1px solid var(--text-color);
    border-radius: 1px;
    margin: 5px;
}

.hero-image {
    margin: 1% 5% 1% 1%;
    width: max(20vh, 13.3vw);
    height: max(30vh, 22.5vw);
    width: 16vw;
    height: 24vw;
}

.hero-image-small {
    margin: 1% 5% 1% 1%;
    width: max(20vh, 13.3vw);
    height: max(30vh, 22.5vw);
    width: 24vw;
    height: 24vw;
}

@media screen and (max-width: 480px) {
    .hero-image {
        display: none;
    }

    .hero-image-small {
        display: flex;
    }
}

@media  screen and (min-width: 480px){
    .hero-image {
        display: flex;
    }

    .hero-image-small {
        display: none;
    }
}

.hero-description {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-title {
    padding: 0 1% 1%;
}

@media screen and (max-width: 480px) {
    .quota {
        display: none;
    }

    header {
        justify-content: center;
    }
}

.castomisation-page-main {
    margin-top: 15vh;
    min-height: 75vh;
    margin-right: 10vw;
    margin-left: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .castomisation-page-main {
        flex-direction: column;
        justify-content: center;
        gap: 5vh;
    }    
}

tr:nth-child(even) {
    background-color: var(--background-color-alpha);
    color: var(--text-color)
}

tr:nth-child(odd) {
    background-color: var(--text-color-alpha);
    color: var(--background-color);
}

tr:hover td{
    background-color: var(--accent-text-color-alpha);
}

.table {
    word-wrap: break-word;
    display: grid;
    grid-template-columns: repeat(3, calc(35vw/3));
    text-align: center;
    /*width: 35vw;*/
}

.table-hero-title {
    grid-column: 1 / 3;
    border: 1px solid var(--text-color-alpha);
    background-color: var(--background-color-alpha);
    color: var(--text-color);
}

.table-number-title {
    border: 1px solid var(--text-color-alpha);
    background-color: var(--background-color-alpha);
    color: var(--text-color);
}

.table-element {
    border: 1px solid var(--text-color-alpha);
    color: var(--text-color);
}

.table-button-element {
    grid-column: 1 / -1;
}

button {
    width: 100%;
    font-size: 24px;
    font-size: calc( (100vw - 480px)/(1280 - 480) * (32 - 24) + 24px);
    font-weight: bold;
    color: var(--background-color);
    background-color: var(--accent-text-color);
    border: 3px solid;
}

button:hover {
    background-color: var(--border-color);
}

.table-image {
    width: calc(35vw / 3);
    height: calc(35vw / 3);
}

.table-title-element {
    grid-column: 1 / 4;
}

@media screen  and (max-width: 480px) {
    .table-picture-element {
        display: none;
    }

    .table {
        grid-template-columns: repeat(2, 1fr);
    }

    .table-hero-title {
        grid-column: auto;
    }

    .table-title-element {
        grid-column: 1 / 3;
    }
}

.table-element:nth-child(6n-1), .table-element:nth-child(6n-2), .table-element:nth-child(6n-3) {
    background-color: var(--reserve-color-alpha);
}

.table-element:nth-child(6n-4), .table-element:nth-child(6n-5), .table-element:nth-child(6n-6) {
    background-color: var(--background-color-alpha);
}

.content {
    width: 80vw;
    background-color: var(--background-color-alpha);
}