.hero-image {
    width: max(20vh, 13.3vw);
    height: max(30vh, 22.5vw);
    width: 16vw;
    height: 24vw;
}

@media screen and (max-width:510px) {
    .hero-image {
        display: none;
    }
}

@media screen and (min-width:510px) {
    .hero-image {
        display: flex;
    }
}